<% @shoes.each do |shoe| %>
  <div class="col-md-4">

    
        <div class="caption">
          <h5><b>Brand: </b><%= link_to shoe.brand, shoe_path(shoe.id) %></h5>
          <h5 class="subheader"><b>RM </b><%= shoe.price.to_i %></h5>
          <h5 class="subheader"><b>Description: </b><%= shoe.description %>
    </div>  
  </div> <!-- col-md-4 -->
<%end%>